<%
loops = (@prw.length-8)/12
loopsArr = Array.new()
n = 0
%>
<%
loops.times do |i|
	str = ''
	if n != loops
		12.times do |i|
		str += %[<div class="tmpbox">#{image_tag("tmpallstuff/#{@prw[(7+n*12)+i]}", {:title=>"фото. #{@prw[(7+n*12)+i]}", :alt=>"дизайн, печать, постпечатная обработка, шелкография, малотиражное производство рекламной продукции"})}</div>]
		end
	loopsArr << str
	n += 1
	end
end
%>
<% 8.times do |i| %>
    <div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[i]}", {:title=>"Фото. #{@prw[i]}", :alt=>"Шелкография, полноцветная печать, визитки, брошюры, пакеты, календари"})%></div>
<%end %>

<div id="hideblock"></div>
<div id="hideblockbtn" onclick=showmore(<%=loops%>)>
	<div class="line"></div>
	<div class="line_text"><span class="redtext">Больше фото</span></div>
	<div class="line"></div>
</div>

<%= javascript_tag do %>
var loops = <%=loops%>;
var loopsArr = new Array();
<% loops.times do |i|%>
	loopsArr[<%=i%>] = '<%= raw loopsArr[i]%>';
<%end%>

function showmore(tmp){
	switch (parseInt(tmp)) {
	  case 1:
	  	$(loopsArr[tmp-1]).appendTo('#hideblock');
	    $("#hideblockbtn").attr("onclick", "hideall()");
	    $("#hideblockbtn .redtext").text('Меньше фото');
	    break
	  default:
	  	$('#hideblock').append(loopsArr[tmp-1]);
	    //$(loopsArr[tmp]).appendTo('#hideblock');
	    tmp-=1;
	    $("#hideblockbtn").attr("onclick", "showmore("+tmp+")");
	}
}

function hideall(){
	$('#hideblock').text('');
	$("#hideblockbtn").attr("onclick", "showmore("+loops+")");
	$("#hideblockbtn .redtext").text('Больше фото');
}

//$("#hideblockbtn").click(showmore(loops));

<% end %>