<div id="logo">
	<%=link_to "#{ image_tag("logo.png", {:title=>"АВС-Принт. Дизайн. Полиграфия. Шелкография. Рекламное производство."}) }".html_safe, root_path %>
</div>
<nav id="navblock">
	<ul id="leftmenu">
		<li><%= link_to_unless_current("Визитные карточки", vizitki_path)%></li>
		<li><%= link_to_unless_current("Открытки, приглашения", cards_path)%></li>
		<li><%= link_to_unless_current("Папки из картона", folders_path)%></li>
		<li><%= link_to_unless_current("Папки-уголки (пластик)", plasticfolders_path)%></li>
		<li>&nbsp;</li>
		<li><%= link_to_unless_current("Шелкография", silk_path)%></li>
		<li><%= link_to_unless_current("Высокая печать", upprint_path)%></li>
		<li><%= link_to_unless_current("Тиснение", tisnenie_path)%></li>
		<li><%= link_to_unless_current("Вырубка", vyrubka_path)%></li>
		<li><%= link_to_unless_current("УФ-лакировка", lak_path)%></li>
		<li><%= link_to_unless_current("Цифровая печать", printer_path)%></li>
		<li>&nbsp;</li>
		<li><%= link_to_unless_current("Требования к макетам", trebovaniya_path)%></li>
		<li>&nbsp;</li>
		<li><%= link_to_unless_current("О нас", about_path)%></li>
		<li><%= link_to_unless_current("Контакты", contact_path)%></li>
	</ul>
</nav>
<div id="leftcontact">
	(812) 702 7840<br />
	(812) 702 7841<br />
	(812) 702 7802<br />
	(921) 420 7809<br />
	<%= mail_to "zakaz@abc-design.ru", "zakaz@abc-design.ru" %>
</div>