<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="cont_left">
			<h1>О нас</h1>
			<p>
				Компания АВС (АБЦ) основана в 1999 году. Мы начали свою деятельность как дизайн-студия, но со временем приобрели собственную производственную базу, что позволило нам выполнять заказы своими силами от концепта до готового изделия. Сегодня АВС готова предложить своим клиентам полный спектр услуг полиграфического рынка.
			</p>
			<p>
				Наши дизайнеры готовы воплощать не только собственные креативные идеи , недостатка в которых, поверьте, нет, но и бережно относиться к полёту мысли заказчиков. Нередко интересная идея, прошедшая через руки профессионалов, становится настоящим шедевром.
			</p>
			<p>
				Но профессионально выполненный дизайн-проект только это только начало. От того, как он подготовлен к печати и постпечатной обработке, зависит конечный результат. Наша дизайн-студия знает все нюансы и подводные камни производственного процесса, а их достаточно для того, чтобы похоронить самую яркую дизайнерскую мысль. Различные способы печати, многообразие материалов с различными, иногда противоположными свойствами, специальные краски и лаки, проектирование упаковки и ещё множество полиграфических хитростей и секретов нашли достойное применение у специалистов нашей компании.
			</p>
			<p>
				Если у Вас нет макета мы сделаем его.<br />Если у Вас уже есть макет, созданный другими дизайнерами, мы проверим его соответствие нашим техническим требованиям и, при необходимости, подготовим для печати.
			</p>
			<p>
				Среди наших постоянных клиентов много дизайн-студий и рекламных агентств, материализующих свои проекты с нашей помощью. Нам доверяют профессионалы – это лучшая рекомендация.
			</p>
			<p>
				Типография АВС производит высококачественную полиграфическую продукцию небольшими тиражами. Мы используем самые интересные материалы: различные коллекции дизайнерских бумаг, пленки и пластики. Наше производство великолепно сочетает различные технологии печати с многообразием постпечатной обработки, что позволяет добиваться уникальных результатов.Шелкография, цифровая печать, офсет, тиснение, УФ-лакировка, вырубка, склейка, сборка – самые сложные замыслы находят блестящее воплощение в стенах нашей типографии.
			</p>
			<p class="last_p">
				Добро пожаловать!
			</p>
		</div>
		<div id="cont_right">
			<div class="tmpbox"><%= image_tag("/images/about/#{@prw[0]}", {:title=>"Фото. Наши работы #{@prw[0]}"})%></div>
			<div class="tmpbox"><%= image_tag("/images/about/#{@prw[1]}", {:title=>"Фото. Наши работы #{@prw[1]}"})%></div>
		</div>
		<div id="cont_bottom">
			<div id="contentbody-b" style="margin-bottom:0;">
				 <div class="tmpbox"><%= image_tag("/images/about/#{@prw[2]}", {:title=>"Фото. Наши работы #{@prw[2]}"})%></div>
				 <div class="tmpbox"><%= image_tag("/images/about/#{@prw[3]}", {:title=>"Фото. Наши работы #{@prw[3]}"})%></div>
				 <div class="lastinrowbox"><%= image_tag("/images/about/#{@prw[4]}", {:title=>"Фото. Наши работы #{@prw[4]}"})%></div>
				 
				 <div class="tmpbox nobottommargin"><%= image_tag("/images/about/#{@prw[5]}", {:title=>"Фото. Наши работы #{@prw[5]}"})%></div>
				 <div class="tmpbox nobottommargin"><%= image_tag("/images/about/#{@prw[6]}", {:title=>"Фото. Наши работы #{@prw[6]}"})%></div>
				 <div class="lastinrowbox"><%= image_tag("/images/about/#{@prw[7]}", {:title=>"Фото. Наши работы #{@prw[7]}"})%></div>
			</div>
		</div>
	</div>
</div>