<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="contentbody">
			<h1>Рассчет заказа онлайн</h1>
			<h2>Открытки и Приглашения</h2>
			<div id="vizitki_selectbox_line">
				<div id="material" class="selectbox"><span class="noselect">Материал</span><input name="material" type="hidden" value="" /><div class="selectboxbtn"></div></div>
				<div id="material-options-wrap" class="options-list">
					<ul id="material-options">
							<li class=""><input class="selectoption_material_input" type="text" placeholder="Цена листа бумаги" value=""  /><div class="selectbtn"></div></li>
						<% @noprinter.each do |paper| %>
							<li class="selectoption_material"><%= paper.runame %><input class="" type="hidden" value="<%= paper.id %>"  /></li>
						<% end %>
					</ul>
					<ul id="material-options-printer">
							<li class=""><input class="selectoption_material_input" type="text" placeholder="Цена листа бумаги" value=""  /><div class="selectbtn"></div></li>
						<% @printer.each do |paper| %>
							<li class="selectoption_material"><%= paper.runame %><input class="" type="hidden" value="<%= paper.id %>"  /></li>
						<% end %>
					</ul>
				</div>
				<div id="format" class="selectbox"><span class="noselect">Формат</span><input name="format" type="hidden" value="false" /><div class="selectboxbtn"></div></div>
				<ul id="format-options" class="options-list">
					<li class="selectoption_format">105х148мм<input type="hidden" value="1" /></li>
					<li class="selectoption_format">98х210мм<input type="hidden" value="2" /></li>
					<li class="selectoption_format">140х140мм<input type="hidden" value="3" /></li>
					<li class="selectoption_format">200х210мм (100х210мм в сложенном виде)<input type="hidden" value="4" /></li>
					<li class="selectoption_format">95х370мм (95х185мм в сложенном виде)<input type="hidden" value="5" /></li>
					<li class="selectoption_format">140х280мм (140х140мм в сложенном виде)<input type="hidden" value="6" /></li>
				</ul>
				<div id="select-color" class="selectbox"><span class="noselect">Печать</span><input name="color" type="hidden" value="" /><div class="selectboxbtn"></div></div>
				<div id="select-color-options-wrap" class="options-list">
					<ul id="select-color-options">
						<div id="color-op-1">
							<li class="selectoption_color"><span>1+0</span><input class="" type="hidden" value="1+0"  /></li>
							<li class="selectoption_color"><span>2+0</span><input class="" type="hidden" value="2+0"  /></li>
							<li class="selectoption_color"><span>3+0</span><input class="" type="hidden" value="3+0"  /></li>
							<li class="selectoption_color"><span>4+0</span><input class="" type="hidden" value="4+0"  /></li>
						</div>
						<div id="color-op-2">
							<li class="selectoption_color"><span>1+1</span><input class="" type="hidden" value="1+1"  /></li>
							<li class="selectoption_color"><span>2+2</span><input class="" type="hidden" value="2+2"  /></li>
							<li class="selectoption_color"><span>3+3</span><input class="" type="hidden" value="3+3"  /></li>
							<li class="selectoption_color"><span>4+4</span><input class="" type="hidden" value="4+4"  /></li>
							<li class="selectoption_color"><span>4+2</span><input class="" type="hidden" value="4+2"  /></li>
						</div>
						<div id="color-op-3">
							<li class="selectoption_color"><span>2+1</span><input class="" type="hidden" value="2+1"  /></li>
							<li class="selectoption_color"><span>3+1</span><input class="" type="hidden" value="3+1"  /></li>
							<li class="selectoption_color"><span>4+1</span><input class="" type="hidden" value="4+1"  /></li>
							<li class="selectoption_color"><span>3+2</span><input class="" type="hidden" value="3+2"  /></li>
							<li class="selectoption_color"><span>4+3</span><input class="" type="hidden" value="4+3"  /></li>
						</div>
					</ul>
				</div>
				<div id="select-tirazh-wrap"><input id="select-tirazh" class="selectbox" type="text" value="Тираж"  /></div>
			</div>
			<div id="vizitki_dop_line">
				<div class="line"></div>
				<div class="line_text"><span class="redtext">Дополнительная обработка</span></div>
				<div class="line"></div>
			</div>
			
			<div id="vizitki_radiolist">
				<table id="radiotbl" width="618px">
					<tr height="40px">
						<td width="176px"><span>Тиснение блинтовое</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp1" type="hidden" value="0" /></div></td>
						<td width="176px"><span>Тиснение фольгой</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp2" type="hidden" value="0" /></div></td>
						<td width="176px"><span>Тиснение конгрев</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp3" type="hidden" value="0" /></div></td>
					</tr>
					
					<tr height="40px">
						<td width="176px"><span>УФ-лак</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp4" type="hidden" value="0" /></div></td>
						<td width="176px"><span>Уф-лак объемный</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp5" type="hidden" value="0" /></div></td>
						<td width="176px"><span>Термоподъем </span></td>
						<td width="30px"><div class="radiobtn"><input name="dp6" type="hidden" value="0" /></div></td>
					</tr>
					<tr height="40px">
						<td width="176px"><span>Биговка</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp7" type="hidden" value="0" /></div></td>
						<td width="176px"><span>Скругление углов</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp8" type="hidden" value="0" /></div></td>
						<td width="176px"><span>Вырубка</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp9" type="hidden" value="0" /></div></td>
					</tr>					
					
				</table>
			</div>
			<div id="vizitki_dop_line_bottom"></div>
			<div id="btns">
				<input id="calculate" class="sendbtn" type="submit" value="Стоимость заказа" />
				<div id="result">
				</div>
				<%=link_to "<input class='sendbtn' type='submit' value='Оформить заказ' />".html_safe, contact_path %>
			</div>
			<div id="alert">
			</div>
			<div class="notice_line">
				<div id="notice1">
					<div class="notice_txt">Есть клише (блинт)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_blint" type="hidden" value="0" /></div></div>
				</div>
				<div id="notice2">
					<div class="notice_txt">Есть клише (фольга)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_folga" type="hidden" value="0" /></div></div>
				</div>
			</div>
			<div class="notice_line">
				<div id="notice3">
					<div class="notice_txt">Есть клише (конгрев)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_kongrev" type="hidden" value="0" /></div></div>
				</div>
				<div id="notice4">
					<div class="notice_txt">Есть штамп (вырубка)</div><div class="notice_check"><div class="radiobtn"><input name="vyrubka" type="hidden" value="0" /></div></div>
				</div>
			</div>
			
			<p style="clear:both; padding-top: 40px;">
				<span class="redtext p-header">Обратите внимание:</span>
			</p>
			<p>
				Если Вам нужны открытки с лакировкой, тиснением, термоподъемом и другими эффектами - выбирайте <span class="redtext">Дополнительную обработку.</span>
			</p>
			<p>
				Если в списке материалов нет желаемого, Вы можете ввести цену листа картона выбрав пункт «Указать цену». Стоимость можно узнать на сайтах  наших поставщиков: Берег, Дубль В.
			</p>
			<p>
				Термоподъем может быть только с одной стороны, но похожего эффекта можно добиться с двух сторон, используя объемный УФ-лак.
			</p>
			<p>
				Блинтовое тиснение рекомендуем делать на толстом и мягком картоне или на «сэндвич»-открытках (склееных из нескольких слоев картона).
			</p>
		</div>

		<%= render "imgblock" %>
	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>

<div id="help_invisieble_box"></div>