<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="cont_left">
			<h1>Контакты</h1>
			<p>
				Компания АВС располагается на территории завода «Красный химик».<br />Вход и въезд на территорию осуществляется с улицы Трефолева, 1, литера П. Предлагаем посмотреть Схему проезда.	<br />Вход на территорию через проходную: Нужно сказать, что Вы в «АВС-ПРИНТ».<br />Для въезда на территорию нужно оформить пропуск на автомобиль. Пропуск оформляется на проходной.
			</p>
			<p class="last_p">
				<span class="redtext">Наши телефоны: (812) 702-7840, 702-7841, телефон/факс (812) 702-7802.</span><br />Адрес электронной почты: <%= mail_to "mail@abc-design.ru", "mail@abc-design.ru"%><br />ICQ: 434-766-847<br />Skype: ruslanpospelov
			</p>
		</div>
		<div class="tmpbox"><%= image_tag("fabric.jpg", {:title=>"Здание завода Красный химик. Въезд с ул.Трефолева."})%></div>
		<%= image_tag("map1.jpg", {:class=>"map", :title=>"Карта проезда.", :alt=>"адрес: СПб, ул.Трефолева 1 литер П, АВС-Принт."})%>
		<%= image_tag("map2.jpg", {:class=>"map", :title=>"Карта проезда (увеличенная).", :alt=>"АВС-Принт контакты. Производство пакетов, цифровая и шелкотрафаретная печать."})%>
	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>
