<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="contentbody">
			<h1>Рассчет заказа онлайн</h1>
			<h2>Папки из картона</h2>
			<div id="vizitki_selectbox_line">
				<div id="printmethod-alone" class="selectbox"><span class="noselect">Шелкография</span><input name="printmethod" type="hidden" value="false" /><div class="selectboxbtn"></div></div>
				<ul id="printmethod-options" class="options-list" style="width:222px!important;">
					<li class="selectoption_printmethod">Шелкография<input type="hidden" value="silk" /></li>
					<li class="selectoption_printmethod">Цифровая печать<input type="hidden" value="cifra" /></li>
					<li class="selectoption_printmethod">Офсетная печать<input type="hidden" value="offset" /></li>
				</ul>
				<div id="material" class="selectbox"><span class="noselect">Материал</span><input name="material" type="hidden" value="" /><div class="selectboxbtn"></div></div>
				<div id="material-options-wrap" class="options-list">
					<ul id="material-options">
							<li class=""><input class="selectoption_material_input" type="text" placeholder="Цена листа бумаги" value=""  /><div class="selectbtn"></div></li>
						<% @noprinter.each do |paper| %>
							<li class="selectoption_material"><%= paper.runame %><input class="" type="hidden" value="<%= paper.id %>"  /></li>
						<% end %>
					</ul>
					<ul id="material-options-printer">
							<li class=""><input class="selectoption_material_input" type="text" placeholder="Цена листа бумаги" value=""  /><div class="selectbtn"></div></li>
						<% @printer.each do |paper| %>
							<li class="selectoption_material"><%= paper.runame %><input class="" type="hidden" value="<%= paper.id %>"  /></li>
						<% end %>
					</ul>
					<ul id="material-options-offset">
						<li class="selectoption_material"><%= @printer.where(id: 1).first.runame %><input class="" type="hidden" value="1"  /></li>
					</ul>
				</div>
				<div id="format" class="selectbox"><span class="noselect">Модель папки</span><input name="format" type="hidden" value="false" /><div class="selectboxbtn"></div></div>
				<div id="format-helper" class="selectbox"><span class="noselect">Эконом</span><div class="selectboxbtn"></div></div>
				<ul id="format-options" class="options-list">
					<li class="selectoption_format">Эконом<input type="hidden" value="eko" /></li>
					<li class="selectoption_format">Стандарт<input type="hidden" value="standart" /></li>
				</ul>
				<div id="select-color" class="selectbox"><span class="noselect">Печать</span><input name="color" type="hidden" value="" /><div class="selectboxbtn"></div></div>
				<div id="select-color-options-wrap" class="options-list">
					<ul id="select-color-options">
						<div id="color-op-1">
							<li class="selectoption_color"><span>1+0</span><input class="" type="hidden" value="1+0"  /></li>
							<li class="selectoption_color"><span>2+0</span><input class="" type="hidden" value="2+0"  /></li>
							<li class="selectoption_color"><span>3+0</span><input class="" type="hidden" value="3+0"  /></li>
							<li class="selectoption_color"><span>4+0</span><input class="" type="hidden" value="4+0"  /></li>
						</div>
						<div id="color-op-2">
							<li class="selectoption_color"><span>1+1</span><input class="" type="hidden" value="1+1"  /></li>
							<li class="selectoption_color"><span>2+2</span><input class="" type="hidden" value="2+2"  /></li>
							<li class="selectoption_color"><span>3+3</span><input class="" type="hidden" value="3+3"  /></li>
							<li class="selectoption_color"><span>4+4</span><input class="" type="hidden" value="4+4"  /></li>
							<li class="selectoption_color"><span>4+2</span><input class="" type="hidden" value="4+2"  /></li>
						</div>
						<div id="color-op-3">
							<li class="selectoption_color"><span>2+1</span><input class="" type="hidden" value="2+1"  /></li>
							<li class="selectoption_color"><span>3+1</span><input class="" type="hidden" value="3+1"  /></li>
							<li class="selectoption_color"><span>4+1</span><input class="" type="hidden" value="4+1"  /></li>
							<li class="selectoption_color"><span>3+2</span><input class="" type="hidden" value="3+2"  /></li>
							<li class="selectoption_color"><span>4+3</span><input class="" type="hidden" value="4+3"  /></li>
						</div>
					</ul>
					<ul id="select-color-options2">
						<div id="color-op" style="width:inherit!important;">
							<li class="selectoption_color"><span style="display:block;">4+0</span><input class="" type="hidden" value="1"  /></li>
							<li class="selectoption_color"><span style="display:block;">4+4</span><input class="" type="hidden" value="2"  /></li>
						</div>
					</ul>
				</div>
				<div id="select-tirazh-wrap"><input id="select-tirazh" class="selectbox" type="text" value="Тираж"  /></div>
			</div>
			<div id="vizitki_dop_line">
				<div class="line"></div>
				<div class="line_text"><span class="redtext">Дополнительная обработка</span></div>
				<div class="line"></div>
			</div>
				
			<div id="vizitki_radiolist">
				<table id="radiotbl">
				<!-- <table id="radiotbl" width="618px"> -->
					<tr height="40px">
						<td width="165px"><span>Ламинация глянцевая  1+0</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp1" type="hidden" value="0" /></div></td>
						<td width="35px"><span style="margin-right:7px!important;">1+1</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp8" type="hidden" value="0" /></div></td>
						<td width="150px"><span>Тиснение фольгой</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp2" type="hidden" value="0" /></div></td>
						<td width="150px"><span>Тиснение конгрев</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp3" type="hidden" value="0" /></div></td>
					</tr>
							
					<tr height="40px">
						<td width="165px"><span>Ламинация матовая  1+0</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp6" type="hidden" value="0" /></div></td>
						<td width="35px"><span style="margin-right:7px!important;">1+1</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp7" type="hidden" value="0" /></div></td>
						<td width="150px"><span>УФ-лак</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp4" type="hidden" value="0" /></div></td>
						<td width="150px"><span>Уф-лак объемный</span></td>
						<td width="30px"><div class="radiobtn"><input name="dp5" type="hidden" value="0" /></div></td>
					</tr>		
							
				</table>
			</div>

			<div id="vizitki_dop_line_bottom"></div>
			<div id="btns">
				<input id="calculate" class="sendbtn" type="submit" value="Стоимость заказа" />
				<div id="result">
				</div>
				<%=link_to "<input class='sendbtn' type='submit' value='Оформить заказ' />".html_safe, contact_path %>
			</div>
			<div id="alert">
			</div>
			<div class="notice_line">
				<div id="notice2">
					<div class="notice_txt">Есть клише (фольга)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_folga" type="hidden" value="0" /></div></div>
				</div>
				<div id="notice3">
					<div class="notice_txt">Есть клише (конгрев)</div><div class="notice_check"><div class="radiobtn"><input name="klishe_kongrev" type="hidden" value="0" /></div></div>
				</div>
			</div>
			
			<div style=" clear:both; width:100%; height:200px; background:#ccc;"></div>

		</div>

		<%= render "imgblock" %>

	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>

<div id="help_invisieble_box"></div>