<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="wrapbox_top">
			<div id="contentbox">
				<div id="contentbody">
					<h2>Материалы готовятся к публикации.</h2>
				</div>
				<div id="contentbody-r">
					<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[0]}", {:title=>"Фото. визитка #{@prw[0]}"})%></div>
					<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[1]}", {:title=>"Фото. визитка #{@prw[1]}"})%></div>
				</div>
			</div>
			<div id="contentbody-b">
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[2]}", {:title=>"Фото. визитка #{@prw[2]}"})%></div>
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[3]}", {:title=>"Фото. визитка #{@prw[3]}"})%></div>
				<div class="lastinrowbox"><%= image_tag("/images/tmpallstuff/#{@prw[4]}", {:title=>"Фото. визитка #{@prw[4]}"})%></div>
			</div>
		</div>
		<div id="right-top-hidden">
			<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[5]}", {:title=>"Фото. визитка #{@prw[5]}"})%></div>
			<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[6]}", {:title=>"Фото. визитка #{@prw[6]}"})%></div>
			<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[7]}", {:title=>"Фото. визитка #{@prw[7]}"})%></div>
		</div>

		<div id="hideblockbtn">
			<div class="line"></div>
			<div class="line_text"><span class="redtext">Больше фото</span></div>
			<div class="line"></div>
		</div>
		<div id="hideblock">
			<div id="wrapbox_bottom">
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[8]}", {:title=>"Фото. визитка #{@prw[8]}"})%></div>
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[9]}", {:title=>"Фото. визитка #{@prw[9]}"})%></div>
				<div class="lastinrowbox"><%= image_tag("/images/tmpallstuff/#{@prw[10]}", {:title=>"Фото. визитка #{@prw[10]}"})%></div>
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[11]}", {:title=>"Фото. визитка #{@prw[11]}"})%></div>
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[12]}", {:title=>"Фото. визитка #{@prw[12]}"})%></div>
				<div class="lastinrowbox"><%= image_tag("/images/tmpallstuff/#{@prw[13]}", {:title=>"Фото. визитка #{@prw[13]}"})%></div>
				<div class="tmpbox nobottommargin"><%= image_tag("/images/tmpallstuff/#{@prw[14]}", {:title=>"Фото. визитка #{@prw[14]}"})%></div>
				<div class="tmpbox nobottommargin"><%= image_tag("/images/tmpallstuff/#{@prw[15]}", {:title=>"Фото. визитка #{@prw[15]}"})%></div>
				<div class="lastinrowbox"><%= image_tag("/images/tmpallstuff/#{@prw[16]}", {:title=>"Фото. визитка #{@prw[16]}"})%></div>
			</div>
			<div id="right-bottom-hidden">
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[17]}", {:title=>"Фото. визитка #{@prw[17]}"})%></div>
				<div class="tmpbox"><%= image_tag("/images/tmpallstuff/#{@prw[18]}", {:title=>"Фото. визитка #{@prw[18]}"})%></div>
				<div class="tmpbox nobottommargin"><%= image_tag("/images/tmpallstuff/#{@prw[19]}", {:title=>"Фото. визитка #{@prw[19]}"})%></div>
			</div>
		</div>

		

	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>