<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="contentbody">
			<h1>Рассчет заказа онлайн</h1>
			<h2>Шелкография (листовая печать)</h2>
			<div id="vizitki_selectbox_line">
				<div id="material" class="selectbox"><span class="noselect">Материал</span><input name="material" type="hidden" value="" /></div>
				<div id="material-options-wrap" class="options-list">
					<ul id="material-options">
							<li class=""><input class="selectoption_material_input" type="text" placeholder="Цена листа бумаги" value=""  /><span class="selectbtn"><%= image_tag("selectarrow.png")%></span></li>
							<li class="selectoption_material">Без бумаги<input class="" type="hidden" value="0"  /></li>
						<% @noprinter.each do |paper| %>
							<li class="selectoption_material"><%= paper.runame %><input class="" type="hidden" value="<%= paper.id %>"  /></li>
						<% end %>
					</ul>
				</div>
				<div id="format" class="selectbox"><span class="noselect">Формат</span><input name="format" type="hidden" value="false" /></div>
				<ul id="format-options" class="options-list">
					<li class="selectoption_format">A4<input type="hidden" value="A4" /></li>
					<li class="selectoption_format">A3<input type="hidden" value="A3" /></li>
					<li class="selectoption_format">A2<input type="hidden" value="A2" /></li>
				</ul>
				<div id="select-color" class="selectbox"><span class="noselect">Печать</span><input name="color" type="hidden" value="" /></div>
				<div id="select-color-options-wrap" class="options-list">
					<ul id="select-color-options">
						<div id="color-op-1">
							<li class="selectoption_color"><span>1+0</span><input class="" type="hidden" value="1+0"  /></li>
							<li class="selectoption_color"><span>2+0</span><input class="" type="hidden" value="2+0"  /></li>
							<li class="selectoption_color"><span>3+0</span><input class="" type="hidden" value="3+0"  /></li>
							<li class="selectoption_color"><span>4+0</span><input class="" type="hidden" value="4+0"  /></li>
						</div>
						<div id="color-op-2">
							<li class="selectoption_color"><span>1+1</span><input class="" type="hidden" value="1+1"  /></li>
							<li class="selectoption_color"><span>2+2</span><input class="" type="hidden" value="2+2"  /></li>
							<li class="selectoption_color"><span>3+3</span><input class="" type="hidden" value="3+3"  /></li>
							<li class="selectoption_color"><span>4+4</span><input class="" type="hidden" value="4+4"  /></li>
							<li class="selectoption_color"><span>4+2</span><input class="" type="hidden" value="4+2"  /></li>
						</div>
						<div id="color-op-3">
							<li class="selectoption_color"><span>2+1</span><input class="" type="hidden" value="2+1"  /></li>
							<li class="selectoption_color"><span>3+1</span><input class="" type="hidden" value="3+1"  /></li>
							<li class="selectoption_color"><span>4+1</span><input class="" type="hidden" value="4+1"  /></li>
							<li class="selectoption_color"><span>3+2</span><input class="" type="hidden" value="3+2"  /></li>
							<li class="selectoption_color"><span>4+3</span><input class="" type="hidden" value="4+3"  /></li>
						</div>
					</ul>

				</div>
				<div id="select-tirazh-wrap"><input id="select-tirazh" class="selectbox" type="text" value="Тираж"  /></div>
			</div>
			<div class="separate_line"></div>

			<div id="btns">
				<input id="calculate" class="sendbtn" type="submit" value="Стоимость заказа" />
				<div id="result">
				</div>
				<%=link_to "<input class='sendbtn' type='submit' value='Оформить заказ' />".html_safe, contact_path %>
			</div>
				<div id="alert"></div>

			<p style="clear:both; margin-top:420px;">
				<span class="redtext p-header">Обратите внимание:</span>
			</p>
			<p>
				Если в списке материалов нет желаемого, Вы можете ввести цену листа картона выбрав пункт «Цена листа бумаги». Стоимость можно узнать на сайтах  наших поставщиков: Берег, Дубль В.
			</p>

		</div>

		<%= render "imgblock" %>

	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>

<div id="help_invisieble_box"></div>