<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="cont_left">
			<h1>Требования к макетам</h1>
			<h2 class="h2margins">Шелкография</h2>
				<ul class="red_marked">
					<li><span>Макеты принимаются в формате CorelDraw, Adobe Illustrator, PDF, EPS.Все шрифты должны быть переведены в кривые (curves, paths) либо переданы вместе с макетом.</span></li>
					<li><span>Масштаб 1:1 - размер макета в файле соответсвует размеру готового изделия.</span></li>
					<li><span>Стандартный размер визитки: 90х50 мм или 85х55 мм.</span></li>
					<li><span>Минимальная толщина линии  - 0,2 мм.</span></li>
					<li><span>При печати вывороткой расстояние между печатными элементами должно быть не менее 0,2 мм. При меньших расстояниях возможно слияние печатных элементов.</span></li>
					<li><span>Не допускается печать на вылет объёмным лаком (хрупкость при срезе), расстояние между печатными элементами (для объёмного лака) не менее 0,2 мм.</span></li>
					<li><span>Требуемые цвета печати должны быть указаны строго в палитре Panton (Pantone Color Formula (Solid) Guide). В макете не допускается использование составного чёрного цвета (чёрный должен быть С=0, M=0, Y=0, K=100).</span></li>
					<li><span>Тиснение, конгрев, уф-лак, объемная лакировка, вырубка должны быть явно обозначены в макете, а лучше всего расположены на отдельных слоях.</span></li>
					<li><span>Минимальное расстояние от обрезного формата 2 мм.</span></li>
					<li><span>Для элементов "в край" делается вылет за обрез 2 мм.</span></li>
					<li><span>При печати на готовых изделиях не должно быть элементов, касающихся края, при этом минимальное расстояние от края не менее 10 мм.</span></li>
					<li><span>Минимальный размер кегля для текста с засечками или тонкими элементами не менее 6 пунктов.</span></li>
					<li><span>Величина отдельных элементов символа должна соответствовать требованиям к толщине линии.</span></li>
					<li><span>При печати на полиэтиленовых пакетах допустимое отклонение при совмещении цветов до 0,7 мм.</span></li>
				</ul>
			<h2 class="h2margins">Цифра и офсет</h2>
			<ul class="red_marked">
				<li><span>Макеты принимаются в формате CorelDraw, Adobe Illustrator, Adobe InDesign, PDF, EPS.</span></li>
				<li><span>Все шрифты должны быть переведены в кривые (curves, paths) либо переданы вместе с макетом.</span></li>
				<li><span>Все подлинкованные изображения помещены в макет.</span></li>
				<li><span>Все значимые элементы (изображения, текст) должны отстоять от края не менее 5мм.</span></li>
				<li><span>При наличии фоновых изображений размеры фона должны выступать за пределы границ продукции на 3мм.</span></li>
				<li><span>Не рекомендуется использовать рамки и краевые бордюры, параллельные границам продукции.</span></li>
				<li><span>Размер макета в файле соответствует размеру печати.</span></li>
				<li><span>Разрешение растровых элементов 300 dpi, цветовая модель CMYK, альфа-каналы удалены, слои склеены до слоя подложки (background).</span></li>
				<li><span>Все использованные в макете эффекты (тени, линзы, художественные кисти и т.д.) переведены в растровую форму.</span></li>
			</ul>
			<h2 class="h2margins">Вырубка, тиснение, letterpress, лакировка и темоподъём</h2>
			<ul class="red_marked" style="margin-bottom:20px;">
				<li><span>Макеты принимаются в формате CorelDraw, Adobe Illustrator, PDF, EPS.</span></li>
				<li><span>Все шрифты должны быть переведены в кривые (curves, paths) либо переданы вместе с макетом.</span></li>
				<li><span>Масштаб 1:1 - размер макета в файле соответсвует размеру готового изделия.</span></li>
				<li><span>Минимальная толщина линии  - 0,2 мм.</span></li>
			</ul>
		</div>

		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[0]}", {:title=>"Фото. Наши работы #{@prw[0]}"})%></div>
		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[1]}", {:title=>"Фото. Наши работы #{@prw[1]}"})%></div>
		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[3]}", {:title=>"Фото. Наши работы #{@prw[3]}"})%></div>

		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[4]}", {:title=>"Фото. Наши работы #{@prw[4]}"})%></div>
		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[5]}", {:title=>"Фото. Наши работы #{@prw[5]}"})%></div>
		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[6]}", {:title=>"Фото. Наши работы #{@prw[6]}"})%></div>
				 
		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[7]}", {:title=>"Фото. Наши работы #{@prw[7]}"})%></div>
		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[8]}", {:title=>"Фото. Наши работы #{@prw[8]}"})%></div>
		<div class="tmpbox"><%= image_tag("tmpallstuff/#{@prw[9]}", {:title=>"Фото. Наши работы #{@prw[9]}"})%></div>		

	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>