<div id="leftcolumn">
	<%= render "leftmenu" %>
</div>
<div id="content_wrap">
	<div id="contentcolumn">
		<div id="contentbody">
			<h1>Рассчет заказа онлайн</h1>
			<h2>Вырубка</h2>
			<div id="vizitki_selectbox_line">
				<div id="material-t" class="selectbox"><span class="noselect">Материал</span><input name="material" type="hidden" value="" /></div>
				<div id="material-options-wrap" class="options-list">
					<ul id="material-t-options">
							<li class=""><input class="selectoption_material_input" type="text" placeholder="Цена листа бумаги" value=""  /><span class="selectbtn"><%= image_tag("selectarrow.png")%></span></li>
							<li class="selectoption_material">Без бумаги<input class="" type="hidden" value="0"  /></li>
						<% @paper.each do |paper| %>
							<li class="selectoption_material"><%= paper.runame %><input class="" type="hidden" value="<%= paper.id %>"  /></li>
						<% end %>
					</ul>
				</div>
				<div id="format-t" class="selectbox"><span class="noselect">Формат</span><input name="format" type="hidden" value="" /></div>
				<ul id="format-t-options" class="options-list">
					<% @format.each do |format| %>
							<li class="selectoption_format"><%= format.format %><input class="" type="hidden" value="<%= format.id %>"  /></li>
					<% end %>
				</ul>
				<div id="select-tirazh-wrap"><input id="select-tirazh-t" class="selectbox" type="text" value="Тираж"  /></div>
			</div>
			<div class="separate_line"></div>
			<div id="btns">
				<input id="calculate" class="sendbtn" type="submit" value="Стоимость заказа" />
				<div id="result">
				</div>
				<%=link_to "<input class='sendbtn' type='submit' value='Оформить заказ' />".html_safe, contact_path %>
			</div>
			<div id="alert_wrap">
				<div id="alert"></div>
			</div>
			<p style="clear:both; margin-top:280px;">
				<span class="redtext p-header">Обратите внимание:</span>
			</p>
			<p>
				Стоимость вырубки в калькуляторе не включает в себя стоимость изготовления штампа. Если в списке материалов нет желаемого, Вы можете ввести цену листа картона выбрав пункт ена листа бумаги».<br />Стоимость можно узнать на сайтах  наших поставщиков: Берег, Дубль В.
			</p>
		</div><!--end of contentbody-->

		<%= render "imgblock" %>

	</div>
</div>
<div id="footer">
	<%= render "footer" %>
</div>

<div id="help_invisieble_box"></div>