<!DOCTYPE html>
<html>
<head>
  <title><%= @article.title %></title>
  <%= csrf_meta_tag %>
  <meta name="keywords" content="<%= @article.meta %>" />

  <%= favicon_link_tag 'favicon.ico' %>
  
  <%= javascript_include_tag "jquery-1.11.1" %>
  <%= javascript_include_tag "functions" %>
  <%= stylesheet_link_tag '_main' %>

</head>
<body>

<%= yield %>

</body>
</html>
