<!DOCTYPE html>
<html>
<head>
  <title><%= @article.title %></title>
  <meta name="keywords" content="<%= @article.meta %>" />

  <%= favicon_link_tag 'favicon.ico' %>
  
  <%= javascript_include_tag "jquery-1.11.1.min.js" %>
  <%= javascript_include_tag "functions.js" %>
  <%= stylesheet_link_tag 'main' %>

</head>
<body>

<%= yield %>

</body>
</html>
