<!DOCTYPE html>
<html>
<head>
  <title>No name.</title>
  <meta name="keywords" content="" />

  <%= javascript_include_tag "jquery-1.11.1.min.js" %>
  <%= javascript_include_tag "functions.js" %>
  <%= stylesheet_link_tag 'main' %>
  <!--<%= stylesheet_link_tag 'home' %> -->
  
  <% if @home %>
  <%= stylesheet_link_tag 'home' %>
  	<script type="text/javascript">

  	$( document ).ready(function() {
  		resize_monitor();
  	});
  	$( window ).resize(function() {
  		resize_monitor();
  	});
  	</script>
  <% end %>

</head>
<body>

<%= yield %>

</body>
</html>
