<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="keywords" content="<%= @meta %>" />

  <%= favicon_link_tag 'favicon.ico' %>

  <%= javascript_include_tag "jquery-1.11.1.min.js" %>
  <%= stylesheet_link_tag 'main' %>
  <% if @remotejs %>
  <%= javascript_include_tag "#{@remotejs}.js.erb" %>
  <% end %>
  <% if @cards %>
  <%= javascript_include_tag "cards.js.erb" %>
  <% end %>
  <% if @home %>
  <%= stylesheet_link_tag 'home' %>
  <script type="text/javascript">

  	$( document ).ready(function() {
  		resize_monitor();
  	});
  	$( window ).resize(function() {
  		resize_monitor();
  	});
  </script>
  <%else if !@vizitki %>
    <script type="text/javascript">

    $( document ).ready(function() {
      $("#footer").css({"width": $("#contentcolumn").outerWidth()});
    });
    $( window ).resize(function() {
      $("#footer").css({"width": $("#contentcolumn").outerWidth()});
    });
    </script>
  <% end %>
  <% end %>

</head>
<body>

<%= yield %>

</body>
</html>
